<!--header start-->
<section class="resume header" id="header">
  <div class="header7-content">
    <div
      class="resume bg bg-pink"
      [ngStyle]="{'background-image': 'url(assets/images/resume/h7-bg-text.png)'}"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <img
              src="assets/images/resume/h7.png"
              alt=""
              class="img-fluid set-abs bottom-0 right-0"
            />
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="center-text">
              <div>
                <div class="header-sub-text">
                  <h5 class="text-hash text-uppercase"># resume</h5>
                </div>
                <div class="header-text">
                  <h1>
                    <span class="bold-text">Hi, I’m</span><br />
                    Taha Alp Işgın
                  </h1>
                </div>
                <div class="header-sub-text">
                  <h4 class="font-secondary">
                    Frontend Developer & Full Stack Developer
                  </h4>
                </div>
                <div class="header-sub-text">
                  <p class="font-secondary font-large">
                    I am a passionate Frontend Developer with expertise in
                    creating dynamic and responsive web applications. With a
                    strong foundation in both frontend and backend technologies,
                    I specialize in delivering seamless user experiences and
                    robust functionality.
                  </p>
                </div>
                <div class="link-horizontal">
                  <ul>
                    <li>
                      <a class="btn btn-default primary-btn back-white"
                        href="https://www.linkedin.com/in/taha-alp-i%C5%9Fg%C4%B1n-84a915134" target="_blank"
                        >LinkedIn</a
                      >
                    </li>
                    <li>
                      <a class="btn btn-default primary-btn back-white"
                        href="assets/files/Taha_Alp_Isgin-Resume.pdf" download
                        >Download CV</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--header end-->
