@import "theme/variable";
$primary: #774ddd;
$secondary: #434345;
$dark: #6851df;
$light: #ba38d2;
@import "theme/style";
@import "theme/responsive";
@import "theme/customize";
@import "theme/theme-dark";
@import "theme/theme-rtl";
