@import "theme/variable";
$primary: #bb425e;
$secondary: #595959;
$dark: #bb425e;
$light: #ecc878;
@import "theme/style";
@import "theme/responsive";
@import "theme/customize";
@import "theme/theme-dark";
@import "theme/theme-rtl";
