<!--counter start-->
<section class="resume counter bg-pink"  id="about-me">
  <div class="container">
    <div class="row">
      @for(data of counter; track data){
      <div class="col-md-3 col-6 counter-container">
        <div class="counters">
          <img [src]="data.img" style="max-height: 52px;" alt="" class="img-fluid counter-img" />
          <div class="counter-text">
            <h3 class="count-text counts">
              <span class="counter">{{ data.count }}</span>
            </h3>
            <h5 class="count-desc">{{data.type}}</h5>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<!--counter end-->
