<section class="bg-pink p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title title2 title-inner">
          <div class="main-title">
            <h2
              class="font-primary borders text-center main-text text-uppercase m-b-0"
            >
              <span>contact</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section
    class="music bg-footer"
    [ngStyle]="{ 'background-image': 'url(assets/images/wave.png)', 'object-fit': 'cover' }"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="contact-details text-center">
            <h4 class="contact-heading">Phone</h4>
            <h6 class="contact-sub-text">+90 505 726 98 28</h6>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact-details text-center">
            <h4 class="contact-heading">Address</h4>
            <h6 class="contact-sub-text">Turkey</h6>
            <h6 class="contact-sub-text">Antalya</h6>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact-details text-center">
            <h4 class="contact-heading">E-mail</h4>
            <h6 class="contact-sub-text">tahaalp98@gmail.com</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
