<!--copyright start-->
<footer class="resume copyright copyright-bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="link link-horizontal">
          <ul class="justify-content-center">
            <!-- <li>
              <a href="javascript:void(0)" class="copyright-text">home</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="copyright-text">couple</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="copyright-text">invitation</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="copyright-text">album </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="copyright-text"
                >friends say</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" class="copyright-text">gift</a>
            </li> -->
          </ul>
        </div>
        <hr />
      </div>
      <div class="col-12">
        <div class="text-center">
          <div class="social-link link-horizontal">
            <ul class="justify-content-center">
              <li>
                <a
                  href="https://www.linkedin.com/in/taha-alp-i%C5%9Fg%C4%B1n-84a915134"
                  target="_blank"
                  class="copyright-text"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://github.com/tahaalp6"
                  target="_blank"
                  class="copyright-text"
                  ><i class="fa fa-github" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="m-l-auto center-para">
          <h6 class="copyright-text text-center">
            © {{ currentYear }} powered by Taha Alp
          </h6>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--copyright end-->
<app-tap-to-top />
