<!--services start-->
<section class="resume services bg-pink">
  <div class="container" id="services">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="title title2">
          <h6 class="font-primary borders main-text text-uppercase">
            <span>details</span>
          </h6>
          <div class="sub-title">
            <div class="">
              <h2 class="title-text">services & experience</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      @for(data of service; track data){
      <div class="col-xl-3 col-md-4 col-sm-6 ng-star-inserted">
        <div class="service text-center bg-white">
          <div class="img-block">
            <img [src]="data.img" alt="" style="max-height: 50px;" class="service-img img-fluid" />
          </div>
          <div class="service-feature">
            <h4 class="feature-text text-center">{{data.type}}</h4>
            <p>
              {{data.description}}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<!--services start-->
